#sigma__video-wrapper {
    --background-color: #000;
    --control-bg: rgba(0, 0, 0, 0.6);
    --control-color: #fff;
    --progress-color: #fff;
    --buffer-color: rgba(255, 255, 255, 0.3);
    --spinner-color: #fff;
    --play-button-size: 60px;
    --seek-tooltip-bg: rgba(0, 0, 0, 0.7);
    --tooltip-text-color: #fff;
    --icon-color: #fff;

    -webkit-overflow-scrolling: touch;
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco',
        'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    line-height: 0;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    background: #000;
}

#sigma__video-wrapper::-webkit-scrollbar-track {
    background: orange; /* цвет дорожки */
}

#sigma__video-wrapper:fullscreen,
#sigma__video-wrapper:-webkit-full-screen,
#sigma__video-wrapper:-ms-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sigma__video-wrapper video {
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.sigma__icon {
    fill: var(--icon-color);
    stroke: var(--icon-color);
}

#sigma__video-wrapper:fullscreen video,
#sigma__video-wrapper:-webkit-full-screen video,
#sigma__video-wrapper:-ms-fullscreen video {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.sigma__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid var(--spinner-color);
    border-radius: 50%;
    animation: sigma__spin 1s linear infinite;
    display: none;
    z-index: 5;
}

@keyframes sigma__spin {
    to {
        transform: rotate(360deg);
    }
}

.sigma__central-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--play-button-size);
    height: var(--play-button-size);
    background: transparent;
    border: none;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--control-bg);
    backdrop-filter: blur(10px);
}

.sigma__central-play-button svg {
    height: 70px;
    width: 70px;
}

.sigma__central-play-button:active {
    transform: translate(-50%, -50%) scale(0.95);
}

.sigma__seek-tooltip {
    position: absolute;
    padding: 8px 12px;
    background-color: rgba(60, 60, 60, 0.8);
    color: var(--tooltip-text-color);
    border-radius: 8px;
    font-size: 13px;
    pointer-events: none;
    transform: translate(-50%, -150%);
    white-space: nowrap;
    display: none;
    z-index: 5;
}

.sigma__control-wrapper {
    width: calc(100% - 12px);
    margin: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#sigma__controls-wrapper {
    transition: opacity 0.3s;
}

.sigma__hide-controls {
    opacity: 0;
}

.sigma__controlsInner {
    transition: transform 0.3s;
    transform: translateY(0);
}

.sigma__hide-controls .sigma__controlsInner {
    transform: translateY(30px);
}

.sigma__controls {
    position: relative;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--control-color);
    padding: 10px 20px;
    transform: translateZ(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.sigma__controls::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--control-bg);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    z-index: -1;
}

.sigma__controls svg,
.sigma__controls i {
    height: 20px;
    filter: invert(1);
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.sigma__controls button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    transition: transform 0.1s;
}

.sigma__controls button:active {
    transform: scale(0.95);
}

#sigma__play-pause .sigma__playIcon {
    display: block;
}

#sigma__play-pause .sigma__pauseIcon {
    display: none;
}

#sigma__play-pause.sigma__isPlaying .sigma__playIcon {
    display: none;
}

#sigma__play-pause.sigma__isPlaying .sigma__pauseIcon {
    display: block;
}

#sigma__mute .sigma__muteIcon {
    display: block;
}

#sigma__mute .sigma__volumeIcon {
    display: none;
}

#sigma__mute.sigma__isMute .sigma__muteIcon {
    display: none;
}

#sigma__mute.sigma__isMute .sigma__volumeIcon {
    display: block;
}

#sigma__full-screen .sigma__fullscreenIcon {
    display: block;
}

#sigma__full-screen .sigma__minimiseIcon {
    display: none;
}

#sigma__full-screen.sigma__isFullscreen .sigma__fullscreenIcon {
    display: none;
}

#sigma__full-screen.sigma__isFullscreen .sigma__minimiseIcon {
    display: block;
}

.sigma__timeline-container {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 12px;
    position: relative;
}

.sigma__timeline-spacer {
    width: 100%;
    padding: 6px 0;
    cursor: pointer;
    position: relative;
}

.sigma__full-timeline {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.sigma__buffered {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--buffer-color);
    border-radius: 2px;
    width: 0%;
}

#sigma__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 2px;
    background-color: var(--progress-color);
    width: 0%;
}

#sigma__progress::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--progress-color);
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#sigma__current-time {
    margin-left: 20px;
    margin-right: 5px;
}

#sigma__duration {
    margin-left: 5px;
}

/* Стили для dropdown меню и настроек */
.sigma__dropdown {
    position: relative;
}

.sigma__dropdown-content {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    bottom: 40px;
    right: 0;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    width: 250px;
}

.sigma__dropdown-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--control-bg);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: -1;
}

/* Главный раздел настроек */
.sigma__settings-main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sigma__menu-item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.sigma__menu-item:hover,
.sigma__menu-item.active {
    background: rgba(255, 255, 255, 0.2);
}

/* Иконка стрелки справа */
.sigma__menu-arrow {
    margin-left: 8px;
}

/* Подменю настроек */
.sigma__settings-submenu {
    display: none;
    flex-direction: column;
    gap: 5px;
    /* max-height: 200px; */
    overflow-y: auto;
}

/* Фиксированная кнопка "назад" в подменю */
.sigma__sub-back-item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    flex: 0 0 auto;
    margin-bottom: 10px;
}

/* Контейнер для скроллируемых элементов подменю */
.sigma__submenu-items {
    overflow-y: auto;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    scroll-behavior: smooth;
}

/* Элементы подменю */
.sigma__submenu-item {
    padding: 15px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.sigma__submenu-item:hover,
.sigma__submenu-item.active {
    background: rgba(255, 255, 255, 0.2);
}

/* Volume Dropdown */
.sigma__volume-container {
    position: relative;
}

.sigma__volume-dropdown {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background: var(--control-bg);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 5px;
    z-index: 10;
}

.sigma__volume-container.active .sigma__volume-dropdown {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

#sigma__volume-slider {
    -webkit-appearance: slider-vertical;
    writing-mode: vertical-lr;
    direction: rtl;
    width: 16px;
    border: none;
    accent-color: #fff;
}

.sigma__dropdown.sigma__show .sigma__dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Media Queries для телефонов */
@media (max-width: 768px) {
    .sigma__control-wrapper {
        margin: 0;
        width: 100%;
    }
    :root {
        --play-button-size: 50px;
    }

    .sigma__controls svg,
    .sigma__controls i {
        height: 16px;
    }
}
